<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="container">
    <header class="py-3">
      <div class="container headerBar navBar">
      <div>
        <button class="btn-Hd px-3">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="16"  height="16"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
            Menú</button>
      </div>
      <div>
        <a href="/" class="logo">BlogNoticias</a>
      </div>
      <div>
        <button class="btn-Hd px-3 ">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
          Iniciar Sesión</button>
      </div>
    </div>
    </header>
    <main>
      <section>
        <app-formulario
          (eventoEnviarData)="manejadorDatosFormulario($event)"
        ></app-formulario>
      </section>
      <section>
        <app-informacion [datos]="arrayNoticias"></app-informacion>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
