*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.contenedorFormulario{
  width: 30rem;
}

.formulario div{
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  
  input, label{
    padding: 6px;
  }
  
}